# Pasta de build e arquivos gerados
[Dd]ebug/
[Rr]elease/
**/bin/
**/obj/

# Pacotes NuGet
*.nupkg
.vs/

# Arquivos de usuário do Visual Studio
*.suo
*.user

# Arquivos de cache do Visual Studio Code
.vscode/

# Arquivos de log e outros
*.log
